In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('house_price_regression_dataset.csv')

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format

# Asking basic questions

### 1. How does the dataset look like

In [ ]:
df.head()

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,0.60,0,5,"262,382.85"
1,4272,3,3,2016,4.75,1,6,"985,260.85"
2,3592,1,2,2016,3.63,0,9,"777,977.39"
3,966,1,2,1977,2.73,1,8,"229,698.92"
4,4926,2,1,1993,4.70,0,8,"1,041,740.86"

### 2. Shape of the dataset

In [ ]:
df.shape

(1000, 8)

### 3. Are there any missing values in the dataset

In [ ]:
df.isna().sum()

Square_Footage          0
Num_Bedrooms            0
Num_Bathrooms           0
Year_Built              0
Lot_Size                0
Garage_Size             0
Neighborhood_Quality    0
House_Price             0
dtype: int64

### 4. Are there any duplicate values in the dataset

In [ ]:
df.duplicated().sum()

np.int64(0)